package {{context.clientPackage}}

{{#api.clientImports}}
import {{fullClassName}}
{{#last}}

{{/last}}
{{/api.clientImports}}
interface {{api.name}}Api {
    fun authenticate(authentication: Authentication)
{{#api.paths}}
  {{#operations}}

    {{#hasDescription}}
    /**
     {{#descriptions}}
     * {{{.}}}
     {{/descriptions}}
     *
     {{#parameters}}
     {{#hasDescription}}
     * @param {{name}} {{firstDescriptionLine}}
     {{#otherDescriptionLines}}
     *   {{{.}}}
     {{/otherDescriptionLines}}
     {{/hasDescription}}
     {{/parameters}}
     */
    {{/hasDescription}}
    fun {{name}}({{#parameters}}{{name}} : {{{type}}}{{^required}}?{{/required}}{{^last}}, {{/last}}{{/parameters}}) : Task<HttpError,HttpResult<{{{resultType}}}{{#nullableResult}}?{{/nullableResult}}>>
  {{/operations}}
{{/api.paths}}

}