package {{context.clientPackage}}

import org.iuv.shared.Task

{{#api.clientImports}}
import {{fullClassName}}
{{#last}}

{{/last}}
{{/api.clientImports}}
interface {{api.name}}Api {
{{#api.paths}}
  {{#operations}}

    fun {{name}}({{#parameters}}{{name}} : {{{type}}}{{^last}}, {{/last}}{{/parameters}}) : Task<String,{{{resultType}}}>
  {{/operations}}
{{/api.paths}}

}