package {{context.clientPackage}}

import kotlinx.serialization.ImplicitReflectionSerializer
import org.iuv.shared.Task
import org.iuv.core.Http

{{#api.clientImports}}
import {{fullClassName}}
{{#last}}

{{/last}}
{{/api.clientImports}}
object {{api.name}}Client {
    private val baseUrl = "{{{api.baseUrl}}}"
{{#api.paths}}
  {{#operations}}

    @ImplicitReflectionSerializer
    fun {{name}}({{#parameters}}{{name}} : {{{type}}}{{^last}}, {{/last}}{{/parameters}}) : Task<String,{{{resultType}}}> =
        Http.{{op.clientMethod}}("$baseUrl{{pathSubst}}", {{resultType.serializer.code}}{{#bodyType}}, payload, {{serializer.code}}{{/bodyType}})
  {{/operations}}
{{/api.paths}}

}