package {{context.modelPackage}}

import kotlinx.serialization.Serializable

{{#api.components}}
@Serializable
data class {{name}}(
{{#properties}}
  val {{name}} : {{{type}}}{{#optional}}? = null{{/optional}}{{^last}},{{\n}}{{/last}}
{{/properties}}
){{^last}}


{{/last}}{{/api.components}}