package {{context.modelPackage}}

import kotlinx.serialization.Serializable
import kotlinx.serialization.SerialName

{{#server.components}}
{{#hasDescription}}
/**
 {{#descriptions}}
 * {{{.}}}
 {{/descriptions}}
 */
{{/hasDescription}}
{{#isEnum}}
enum class {{name}} {
{{#enumValues}}
    {{{value}}}{{^last}},{{/last}}
{{/enumValues}}
}{{/isEnum}}
{{^isEnum}}
@Serializable
data class {{name}}(
{{#properties}}

    {{#hasDescription}}
    /**
     {{#descriptions}}
     * {{{.}}}
     {{/descriptions}}
     */
    {{/hasDescription}}
    @SerialName("{{{key}}}")
    val {{{name}}} : {{{typeAndDefault}}}{{^last}},{{\n}}{{/last}}
{{/properties}}
){{/isEnum}}
{{^last}}


{{/last}}{{/server.components}}