package {{context.controllerPackage}}

{{#api.controllerImports}}
import {{fullClassName}}
{{#last}}

{{/last}}
{{/api.controllerImports}}
interface {{api.name}}Controller {
{{#api.paths}}
  {{#operations}}

    @{{{operationAnnotation}}}
    fun {{name}}({{#parameters}}{{> parameterAnnotations }} {{name}} : {{{type}}}{{^last}}, {{/last}}{{/parameters}}) : {{{resultType}}}
  {{/operations}}
{{/api.paths}}

}