{{#pathVariable}}@PathVariable{{/pathVariable}}{{#requestParam}}@RequestParam{{/requestParam}}{{#requestBody}}@RequestBody{{/requestBody}}{{#requestHeader}}@RequestHeader{{/requestHeader}}{{#requestPart}}@RequestPart{{/requestPart}}