package {{nameSpace}}
{{#imports}}
import {{.}}
{{/imports}}

import org.iuv.core.HTMLElementAttributes

interface {{className}}<MESSAGE> : HTMLElementAttributes<MESSAGE>
 {{#attributes.groups}},{{className}}<MESSAGE>{{/attributes.groups}}
 {
    {{#attributes.attributes}}
    var {{name}}: {{type.className}}?
        set(value) {
            if (value == null) {
                removeAttribute("{{originalName}}")
            } else {
                addAttribute("{{originalName}}", value{{type.value}})
            }
        }
        get() = {{type.valueOf}}(getAttribute("{{originalName}}"))
    {{/attributes.attributes}}

    {{#attributes.functions}}
    fun {{name}}(handler: ({{eventType}},dynamic) -> MESSAGE) {
        on("{{eventName}}") { event: {{eventType}} ->
            handler(event, event.target?.asDynamic().value)
        }
    }
    fun {{name}}(message: MESSAGE) {
        on("{{eventName}}") { _: {{eventType}} -> message }
    }

    {{/attributes.functions}}
}