package {{nameSpace}}
{{#imports}}
import {{.}}
{{/imports}}
import org.iuv.core.HTML

open class {{className}}<MESSAGE> : HTML<MESSAGE>("{{elementName}}")
 {{#baseElement.className}},{{baseElement.className}}<MESSAGE>{{/baseElement.className}}
 {{#selfAttributes.groups}},{{className}}<MESSAGE>{{/selfAttributes.groups}}
 {{#groups}},{{className}}<MESSAGE>{{/groups}}
 {
    {{#attributes}}
    var {{name}}: {{type.className}}?
        set(value) {
            if (value == null) {
                removeAttribute("{{originalName}}")
            } else {
                addAttribute("{{originalName}}", value{{type.value}})
            }
        }
        get() = {{type.valueOf}}(getAttribute("{{originalName}}"))
    {{/attributes}}

    {{#children}}
    fun {{name}}(init: {{className}}<MESSAGE>.() -> Unit) {
        element({{className}}(), init)
    }
    {{/children}}

    {{#functions()}}
    fun {{name}}(handler: ({{eventType}},dynamic) -> MESSAGE) {
        on("{{eventName}}") { event: {{eventType}} ->
            handler(event, event.target?.asDynamic().value)
        }
    }
    fun {{name}}(message: MESSAGE) {
        on("{{eventName}}") { _: {{eventType}} -> message }
    }

    {{/functions()}}
}