package {{nameSpace}}
{{#imports}}
import {{.}}
{{/imports}}

class {{className}}<MESSAGE> : org.iuv.core.HTML<MESSAGE>("{{name}}")
 {{#attributes.groups}},{{className}}{{/attributes.groups}}
 {
    {{#attributes.attributes}}
    var {{name}}: {{type.className}}?
        set(value) {
            if (value == null) {
                removeProperty("{{originalName}}")
            } else {
                addProperty("{{originalName}}", value{{type.value}})
            }
        }
        get() = {{type.valueOf}}(getProperty("{{originalName}}"))

    {{/attributes.attributes}}

    {{#children}}
        fun {{name}}(init: {{className}}<MESSAGE>.() -> Unit) {
            element({{className}}(), init)
        }
    {{/children}}
}