package {{nameSpace}}
{{#imports}}
import {{.}}
{{/imports}}

import org.iuv.core.HTMLElement

interface {{className}} : HTMLElement
 {{#attributes.groups}},{{className}}{{/attributes.groups}}
 {
    {{#attributes.attributes}}
    var {{name}}: {{type.className}}?
        set(value) {
            if (value == null) {
                removeProperty("{{originalName}}")
            } else {
                addProperty("{{originalName}}", value{{type.value}})
            }
        }
        get() = {{type.valueOf}}(getProperty("{{originalName}}"))

    {{/attributes.attributes}}
}