package {{nameSpace}}

import org.iuv.core.HTMLElement
import org.iuv.core.html.elements.*

interface {{className}}<MESSAGE> : HTMLElement<MESSAGE>
 {{#groups}},{{className}}<MESSAGE>{{/groups}}
 {
    {{#children}}
    fun {{name}}(init: {{className}}<MESSAGE>.() -> Unit) {
        element({{className}}(), init)
    }
    {{/children}}
}