{{#apiImports}}
import {{fullClassName}}
{{#last}}

{{/last}}
{{/apiImports}}
interface {{name}}Api {
{{#paths}}
  {{#operations}}

    fun {{name}}({{#parameters}}{{name}} : {{{type}}}{{^last}}, {{/last}}{{/parameters}}) : {{{resultType}}}
  {{/operations}}
{{/paths}}

}