import org.iuv.shared.Task
import org.iuv.core.Http

{{#clientImports}}
import {{fullClassName}}
{{#last}}

{{/last}}
{{/clientImports}}
object {{name}}Client {
{{#paths}}
  {{#operations}}

    fun {{name}}({{#parameters}}{{name}} : {{{type}}}{{^last}}, {{/last}}{{/parameters}}) : Task<String,{{{resultType}}}> =
        Http.{{op.clientMethod}}("{{pathSubst}}", {{resultType.serializer.code}}{{#bodyType}}, payload, {{serializer.code}}{{/bodyType}})
  {{/operations}}
{{/paths}}

}