{{#controllerImports}}
import {{fullClassName}}
{{#last}}

{{/last}}
{{/controllerImports}}
interface {{name}}Controller {
{{#paths}}
  {{#operations}}

    @{{{operationAnnotation}}}
    fun {{name}}({{#parameters}}{{> parameterAnnotations }} {{name}} : {{{type}}}{{^last}}, {{/last}}{{/parameters}}) : {{{resultType}}}
  {{/operations}}
{{/paths}}

}