.ButtonComponentSelected {
    color: red;
}
.IUVDebugger {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 400px;
  z-index: 1;
}

.IUVDebuggerButton {
    width: 300px;
    word-wrap: break-word;
}

.Center {
    text-align: center;
}

.SelectedRow {
    background-color: YELLOW;
}