package {{webPackage}}

import org.springframework.boot.autoconfigure.SpringBootApplication
import org.springframework.boot.runApplication
import org.springframework.boot.web.servlet.ServletComponentScan

@SpringBootApplication
@ServletComponentScan
class SpringBootApp

fun main(args: Array<String>) {
    runApplication<SpringBootApp>(*args)
}