java -jar {{{jarFileName}}} openAPI openapi {{projectName}}-web/src/main/kotlin {{group}}.web.controller {{projectName}}-ui/src/main/kotlin {{group}}.ui.api {{projectName}}-shared/src/commonMain/kotlin {{group}}.shared.models