swaggerFilesFolder=openapi
controllerSourceFolder={{projectName}}-web/src/main/kotlin
controllerPackage={{group}}.web.controller
clientSourceFolder={{projectName}}-ui/src/main/kotlin
clientPackage={{group}}.ui.api
modelSourceFolder={{projectName}}-shared/src/commonMain/kotlin
modelPackage={{group}}.shared.models