Run
----
- build the javascript project `./gradlew :{{projectName}}-ui:build` you can add the -t option to make
a continuous build  
- run the server `./gradlew bootRun` 

Deploy
-------
`./gradlew build`
you get an executable jar in {{projectName}}-web/build/libs
