Run
----
- build the javascript project `./gradlew :{{projectName}}-ui:build` you can add the -t option to do
a continuous build  
- run the server `./gradlew bootRun`
- open localhost:8080 with a browser

Deploy
-------
`./gradlew build`
you get an executable jar in {{projectName}}-web/build/libs that you can run with java -jar "file"
